# Hide all configuration files for the time being
config.yaml
teams.yaml

# Hide all outputs
generated/*

# Hide all sketches
diagrams

# Hide resources
!resources/README.md
resources/*

# Python stuff
__pycache__/
*.py[cod]
.venv

# VSCode
.vscode
