# Hide all configuration files for the time being
config.yaml
teams.yaml
.envrc

# Hide all outputs
generated/*

# Hide resources
resources/*

# Python stuff
__pycache__/
*.py[cod]
.venv

# VSCode
.vscode
.cursor
