yandex_cloud = {
  folder_id = "aaaaaaaaaaaaaaaaaaaa"
  zone = "ru-central1-a"
  service_account_key_file = "./key.json"
  static_key = {
    access_key = "YCAAAAAAAAAAAAAAAAAAAAAAA"
    secret_key = "YCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
  }
}

admin_accounts = [
  {
    username = "leksus"
    public_ssh_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDDwCzJWwOzblDYkvSwmpYr2pYG58YBkSE6cKR9TrgTqZ7l6uvwifY/a6xRA/lyx+3vyRy5nby0/XOrXArqx5SGeizFostRzo3MTNVSlXbL6O6e/y6YYdbYDzqL+kxTUGuZJ/33D+uK5cOTFEXm1oP6qmA5X0pymTt2eySETo4Lv7WT/YZKmeAZyUZxO5bnV78S+H43dRrYObZ86JXvNbGN5ayY94weROCCV1LVzJXt+R33Ge+EXj+tez5bNs8XmNp3eB8exy2Dt+FNIrUEF/sGbb285z3Zv4lQpKawoGw6WJeQH2ByaJ3AoOYtuET/g7IcO+0MTnsN6w6bcbxKTpJf/q/KbuSYLey8MxyubCXp38FEyNma9eKQ7UNyWoC2KIR9xnJQIePQ5cDUVE9SCPnbPDWPmDG0XEq6Q8m7cKXsVeCKPagjpldo7ypNsLu5kopFUNOv8EUgS4lA4Pmc1ytslvT6ZlIw3OxILIz/ka8gMCGMIsEhqzSYFpzHvgRvCd0= leksus@arch"
  }
]

admin_private_key = {
  username = "leksus"
  private_ssh_key_location = "~/.ssh/id_rsa"
}

network_config = {
  open_time = "2022-12-03 14:00:00"
  close_time = "2022-12-03 22:00:00"
  timezone = "Europe/Moscow"
}

forcad_config = {
  admin = {
    username = "admin"
    password = "password"
  }

  game = {
    mode = "classic"
    round_time = 60

    default_score = 2500
    flag_lifetime = 5
    game_hardness = 10.0
    inflation = true
  }

  tasks = [
    {
      checker = "shizika/checker.py"
      checker_timeout = 20
      checker_type = "pfr"
      gets = 3
      name = "shizika"
      places = 2
      puts = 3
    },
    {
      checker = "shporas/checker.py"
      checker_timeout = 20
      checker_type = "pfr"
      gets = 2
      name = "shporas"
      places = 9
      puts = 5
    }
  ]
}

teams_config = {
  add_npc = true
  players_per_team = 7
  teams = [
    "SPRUSH",
    "dtl",
    "LK"
  ]
}

local_dirs = {
  result_dir = "./result"
  temp_dir   = "./.tmp"
  src_dir    = "./ad-training-03-12-2022"
}