# shellcheck disable=SC2148
export CLOUDFLARE_API_TOKEN="mn8XKGIPI89EgFSmkY_YYqk-4tWcHtKlNUB8OVWX"
export YC_TOKEN="t1.9euelZqYnMrMkJ3NjpiKm57Mz5iPx-3rnpWam5HMjZ6bi5fJkM6elZqcmsjl8_ctfn5B-e8CFG0S_t3z920sfEH57wIUbRL-zef1656VmozGmZiYmp2djcfPno7NzJeW7_zF656VmozGmZiYmp2djcfPno7NzJeW.6TtR5Q8JOf3amNKXpX86EBtGVTONWPts6Sq5-M2_45ifm6hXACGJjfCM9C4b6RDiqXL2idiT68duMk5Ct-UMBQ"
