all:
  children:
    virtualmachines:
      vars:
        ansible_user: {{admin_username}}
        ansible_ssh_private_key_file: {{admin_ssh_key_file_path}}

        docker_daemon_config_file: {{docker_daemon_config_file}}

      children:
        vulnboxes:
          vars:
            ansible_ssh_common_args: -o ProxyCommand="ssh -i {{admin_ssh_key_file_path}} -q -W %h:%p -o StrictHostKeyChecking=no {{admin_username}}@{{bastion_host}}"
            services_path: {{services_path}}

          hosts:
            {%- for host, data in vulnbox_hosts.items() %}
            {{host}}:
              vars:
                vpn_client_file: {{data.vpn_file}}
                username: {{data.user}}
                password: {{data.password}}
            {%- endfor %}

        vpn:
          vars:
            team_count: {{team_count}}
            network_open_time: {{network_open_time}}
            timezone: {{timezone}}
            vpn_server_files: {{vpn_server_files}}
          hosts:
            {{vpn_host}}:

        jury:
          vars:
            checkers_path: {{checkers_path}}
            forcad_config_file: {{forcad_config_file}}
            vpn_client_file: {{jury_vpn_client}}
          hosts:
            {{jury_host}}:

        container_registry:
          vars:
            service_registry_local_path: {{service_registry_local_path}}
          hosts:
            {{container_registry_host}}: